:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --button-primary-color: #d8ffc9;
  --button-secondary-color: #2b2b2b;
  --link-color: #00675c;
  --link-color-visited: #4c2f91;
  --link-color-selected: #489c79;
  --background-light: lightgray;
  --dark-grey: #2b2b2b;
  --grid-item-background-color: #3498db;
  --grid-item-color: white;
  --grid-color-hover: #e74c3c;
  --button-border-color: rgba(0, 0, 0, 0.3);
  --sun-fill-color-0: #edc655;
  --sun-fill-color-50: #fcffad;
  --sun-fill-color-100: #f76414;

  --header-font-weight: 700;
  --padding-regular: 20px;
  --gap-regular: 10px;
  --text-align-regular: center;
  --font-size-grid: 22px;
}

body {
    background-color: var(--background-light);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}
h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
  line-height: 1.7;
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}

a {
  color: var(--link-color);
}

a:visited {
  /* visited link */
  color: var(--link-color-visited);
}

a:hover a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--link-color-selected);
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: var(--button-primary-color);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid var(--button-border-color);
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-primary-color);
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: var(--text-align-regular);
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: var(--padding-regular);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.standard-label-message {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  margin: 0 auto;
}

.grid__item {
  background-color: var(--background-light);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  gap: var(--gap-regular); /* gap between grid items */
}

.grid__item {
  background-color: var(--grid-item-background-color); /* default background color */
  color: var(--grid-item-color);
  padding: var(--padding-regular);
  text-align: var(--text-align-regular);
  transition: transform 0.2s, background-color 0.2s; /* transition effect for transform and background-color */
}

.grid__item:hover {
  background-color: var(--grid-color-hover); /* new background color on hover */
  transform: scale(1.1); /* scale up by 10% on hover */
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: var(--gap-regular);
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: var(--font-size-grid);
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-regular);
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: var(--font-size-grid);
  }
}

@keyframes color-change {
  0% {
    fill: var(--sun-fill-color-0);
  }
  50% {
    fill: var(--sun-fill-color-50);
  }
  100% {
    fill: var(--sun-fill-color-100);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.spacer {
  height: 20px; /* Vertical space */
}

table, th, td {
  border: 1px solid black; /* Add border for gridlines */
}

th, td {
  padding: 8px; /* Adjust padding for cell spacing */
  text-align: center; /* Adjust text alignment as needed */
}

.skilltable {
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.contact-profile {
  margin-left: auto;
  margin-right: auto;
  /* Ensure the container has a defined width */
  width: 50%; /* Adjust as needed */
}

.no-underline {
  text-decoration: none;
}